<div class="username">
  <mat-form-field appearance="fill">
    <mat-label>Inserte su username</mat-label>
    <input matInput required>
  </mat-form-field>
</div>
<div class="email">
    <mat-form-field appearance="fill">
      <mat-label>Inserte su email</mat-label>
      <input matInput placeholder="pat@example.com" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
</div>
<div class="password">
    <mat-form-field appearance="fill">
        <mat-label>Inserte su contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
</div>
<button mat-raised-button color="warn">Inicio Sesión</button>
