<ng-container *ngIf="movie" >
    <div style="text-align: center; margin-bottom: 5%;">
        <h1 mat-dialog-title>{{movie?.title}}</h1>
        <img [src]="getMovieImg()" width="100px" />
    </div>
    <mat-form-field appearance="fill">
        <mat-label>Select List</mat-label>
        <mat-select>
          <mat-option *ngFor="let lista of movieList" [value]="lista.id">{{lista.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <form class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Write your list name" [(ngModel)]="listLoginDto.name" name="name">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Description</mat-label>
            <input matInput placeholder="Write your description" [(ngModel)]="listLoginDto.description" name="Description">
          </mat-form-field>
          <button mat-raised-button color="primary" (click)="addListMovie()">Create</button>
      </form>
</ng-container>
